* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

/* LAYOUT, SIZE, MARGINS & PADDING */

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD (L, S, M & P) */

#card {
    height: 75%;
    width: 22.5%;

    display: flex;
    flex-direction: column;

    padding: 1.5% 1.5% 1.5% 1.5%;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

main img {
    width: 100%;
}

h2 {
    margin-top: 6%;
}

article p {
    margin: 6% 0 6% 0;

    line-height: 1.8;
}

#eth {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 7%;
}

#left {
    grid-column: 1/2;

    display: flex;
    justify-content: flex-start;
}

#right {
    grid-column: 2/3;

    display: flex;
    justify-content: flex-end;
}

#left svg {
    margin-right: 5%;
}

#right svg {
    margin-right: 5%;
}

/* FOOTER (L, S, M & P) */

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;

    margin-top: 4%;
}

footer img {
    width: 12%;

    border: 1px solid white;
    border-radius: 50%;

    margin-right: 5%;
}

#cre {
    margin-right: 1%;
}

/* ATTRIBUTION (L, S, M & P) */

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;

    margin: 0 auto;
}

/* COLORS, FONTS, BORDERS AND A BOX SHADOW */

body {
    background-color: hsl(217, 54%, 17%);

    font-family: 'Outfit', sans-serif;
}

#card {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 1px -1px 5px 18px hsl(218, 56%, 14%);

    border-radius: 15px;
}

/* MAIN (C, F, B) */

main img {
    border-radius: 10px;
}

h2{
    font-size: 28px;
}

h2, footer p {
    color: hsl(0, 0%, 100%);
}

p, #cre {
    color: hsl(215, 51%, 70%);

    font-size: 19.5px;
}

article {
    border-bottom: 1px solid hsl(214, 46%, 27%);
}

article p {
    font-size: 19.5px;
}

#eth {
    font-size: 16px;
}

#left {
    color: hsl(178, 100%, 50%);

    font-weight: bold;
}

#right {
    color: hsl(215, 51%, 70%);
}

/* FOOTER (C, F, B) */

#jules {
    color: hsl(0, 0%, 100%);

    font-size: 18px;
}

/* ATTRIBUTION (C, F, B) */

.attribution {
    position: absolute;
    bottom: 20px;

    color: hsl(215, 51%, 70%);
}

/* MEDIA QUERY */

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    #card {
        height: 65%;
        width: 85%;

        padding: 6% 6% 3% 6%;
    }

    h2 {
        margin-top: 8%;

        font-size: 22px;
    }

    article p {
        margin: 6% 0 6% 0;

        font-size: 16px;

        line-height: 1.8;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 100%;
    }

    #cre, #jules {
        font-size: 16px;
    }

    footer img {
        width: 12%;

        border: 1px solid white;
        border-radius: 50%;

        margin-right: 6%;
    }
  }


