* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

/* COLORS, FONTS AND A BOX SHADOW */

body {
    background-color: hsl(217, 54%, 17%);

    font-family: 'Outfit', sans-serif;
}

#card {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 1px -1px 5px 18px hsl(218, 56%, 14%);
}

h2, footer p {
    color: hsl(0, 0%, 100%);
}

p, #jules {
    color: hsl(215, 51%, 70%);

    font-size: 18px;
}

article {
    border-bottom: 1px solid hsl(214, 46%, 27%);
}

#eth {
    font-size: 15px;
}

#left {
    color: hsl(178, 100%, 50%);

    font-weight: bold;
}

#right {
    color: hsl(215, 51%, 70%);
}

.attribution {
    position: absolute;
    bottom: 20px;

    color: hsl(215, 51%, 70%);
}

/* MEDIA QUERY */

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
  }