* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

/* BODY LAYOUT & SIZE */

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* OVER 375PX (OPTIMIZED FOR THE WIDTH OF 1440PX */

#card {
    height: 65%;
    width: 22.5%;

    padding: 1.5% 1.5% 0% 1.5%;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#img {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(178, 100%, 50%);
}

[alt="equilibrium"] {
    width: 100%;
    border-radius: 7px;

    position: relative;

    z-index: 2;
}

[alt="view"] {
    width: 3%;
    border-radius: 7px;

    position: absolute;

    z-index: 1;
}

/* ON HOVER */

[alt="equilibrium"]:hover {
    z-index: 0;

    opacity: 0.5;

    cursor: pointer;
}

[alt="view"] {
    cursor: pointer;
}

h2 {
    margin-top: 8%;
}

/* ON HOVER */

h2:hover {
    color: hsl(178, 100%, 50%);

    cursor: pointer;
}

article {
    width: 100%;
}
article p {
    margin: 6% 0 6% 0;

    line-height: 1.8;
}

#eth {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 7%;
}

#left {
    grid-column: 1/2;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#right {
    grid-column: 2/3;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#left svg {
    margin-right: 5%;
}

#right svg {
    margin-right: 5%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 6%;
}

footer img {
    width: 12%;

    border: 1px solid white;
    border-radius: 50%;

    margin-right: 5%;
}

/* ON HOVER */

#jules:hover {
    color:hsl(178, 100%, 50%);

    cursor: pointer;
}

#cre {
    margin-right: 2%;
}

.attribution {
    position: absolute;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.6vw;
}

article p {
    font-size: 1.1vw;
}   

#eth {
    font-size: 1.1vw;
}

footer {
    font-size: 1.1vw;
}

.attribution {
    font-size: 1.1vw;
}


/* COLORS, FONTS, BORDERS AND A BOX SHADOW */

body {
    background-color: hsl(217, 54%, 17%);

    font-family: 'Outfit', sans-serif;
}

#card {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 1px -1px 5px 18px hsl(218, 56%, 14%);

    border-radius: 15px;
}

#img {
    border-radius: 9px;
}

h2, footer p {
    color: hsl(0, 0%, 100%);
}

p, #cre {
    color: hsl(215, 51%, 70%);
}

article {
    border-bottom: 1px solid hsl(214, 46%, 27%);
}

#left {
    color: hsl(178, 100%, 50%);

    font-weight: bold;
}

#right {
    color: hsl(215, 51%, 70%);
}

#jules {
    color: hsl(0, 0%, 100%);
}

.attribution {
    color: hsl(215, 51%, 70%);
}

/* > > > > > > > > > > > > > > < < < < < < < < < < < < < < */
/* * * * * * * * * * * * MEDIA QUERY * * * * * * * * * * * */
/* > > > > > > > > > > > > > > < < < < < < < < < < < < < < */

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    #card {
        height: 65%;
        width: 85%;

        padding: 6% 6% 0% 6%;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        align-items: center;
    }
    
    #img {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: hsl(178, 100%, 50%);
    }

    [alt="equilibrium"] {
        width: 100%;
        border-radius: 7px;

        position: relative;

        z-index: 2;
    }

    [alt="view"] {
        width: 12%;
        border-radius: 7px;

        position: absolute;

        z-index: 1;
    }

    /* ON HOVER */

    [alt="equilibrium"]:hover {
        z-index: 0;

        opacity: 0.5;
    }

    h2 {
        margin-top: 8%;
    }

    article p {
        margin: 6% 0 6% 0;

        line-height: 1.8;
    }

    #eth {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        margin-bottom: 7%;
    }
    
    #left {
        grid-column: 1/2;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    #right {
        grid-column: 2/3;
    
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    #left svg {
        margin-right: 5%;
    }
    
    #right svg {
        margin-right: 5%;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
        margin-top: 6%;
    }
    
    footer img {
        width: 12%;
    
        border: 1px solid white;
        border-radius: 50%;
    
        margin-right: 5%;
    }
    
    #cre {
        margin-right: 2%;
    }

    .attribution {
        position: absolute;
        bottom: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* FONT SIZES */

    h2 {
        font-size: 6vw;
    }

    article p {
        font-size: 4vw;
    }   

    #eth {
        font-size: 4vw;
    }

    footer {
        font-size: 4vw;
    }

    .attribution {
        font-size: 4vw;
    }
  }

  @media only screen and (min-width: 376px) and (max-width: 445px) {
    #card {
        height: 75%;
        width: 85%;

        padding: 6% 6% 0% 6%;
    }

    h2 {
        font-size: 6vw;
    }
    
    article p {
        font-size: 4vw;
    }   
    
    #eth {
        font-size: 4vw;
    }
    
    footer {
        font-size: 4vw;
    }
    
    .attribution {
        font-size: 4vw;
    }

    [alt="view"] {
        width: 12%;
    }
  }

  @media only screen and (min-width: 446px) and (max-width: 500px) {
    #card {
        height: 82%;
        width: 85%;

        padding: 6% 6% 0% 6%;
    }

    h2 {
        font-size: 5vw;
    }
    
    article p {
        font-size: 3.5vw;
    }   
    
    #eth {
        font-size: 3.5vw;
    }
    
    footer {
        font-size: 3.5vw;
    }
    
    .attribution {
        font-size: 3.5vw;
    }

    [alt="view"] {
        width: 12%;
    }
  }

  @media only screen and (min-width: 501px) and (max-width: 545px) {
    #card {
        height: 45%;
        width: 40%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 3vw;
    }
    
    article p {
        font-size: 2vw;
    }   
    
    #eth {
        font-size: 2vw;
    }
    
    footer {
        font-size: 2vw;
    }
    
    .attribution {
        font-size: 2vw;
    }

    [alt="view"] {
        width: 8%;
    }
  }

  @media only screen and (min-width: 546px) and (max-width: 600px) {
    #card {
        height: 50%;
        width: 40%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 3vw;
    }
    
    article p {
        font-size: 2vw;
    }   
    
    #eth {
        font-size: 2vw;
    }
    
    footer {
        font-size: 2vw;
    }
    
    .attribution {
        font-size: 2vw;
    }

    [alt="view"] {
        width: 8%;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 700px) {
    #card {
        height: 57%;
        width: 40%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 3vw;
    }
    
    article p {
        font-size: 2vw;
    }   
    
    #eth {
        font-size: 2vw;
    }
    
    footer {
        font-size: 2vw;
    }
    
    .attribution {
        font-size: 2vw;
    }

    [alt="view"] {
        width: 8%;
    }
  }

  @media only screen and (min-width: 701px) and (max-width: 800px) {
    #card {
        height: 66%;
        width: 40%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 3vw;
    }
    
    article p {
        font-size: 2vw;
    }   
    
    #eth {
        font-size: 2vw;
    }
    
    footer {
        font-size: 2vw;
    }
    
    .attribution {
        font-size: 2vw;
    }

    [alt="view"] {
        width: 8%;
    }
  }

  @media only screen and (min-width: 801px) and (max-width: 900px) {
    #card {
        height: 73%;
        width: 40%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 3vw;
    }
    
    article p {
        font-size: 2vw;
    }   
    
    #eth {
        font-size: 2vw;
    }
    
    footer {
        font-size: 2vw;
    }
    
    .attribution {
        font-size: 2vw;
    }

    [alt="view"] {
        width: 8%;
    }
  }

  @media only screen and (min-width: 901px) and (max-width: 1000px) {
    #card {
        height: 66%;
        width: 33%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 2.5vw;
    }
    
    article p {
        font-size: 1.7vw;
    }   
    
    #eth {
        font-size: 1.7vw;
    }
    
    footer {
        font-size: 1.7vw;
    }
    
    .attribution {
        font-size: 1.7vw;
    }

    [alt="view"] {
        width: 8%;
    }
  }

  @media only screen and (min-width: 1001px) and (max-width: 1100px) {
    #card {
        height: 70%;
        width: 32%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 2.5vw;
    }
    
    article p {
        font-size: 1.7vw;
    }   
    
    #eth {
        font-size: 1.7vw;
    }
    
    footer {
        font-size: 1.7vw;
    }
    
    .attribution {
        font-size: 1.7vw;
    }

    [alt="view"] {
        width: 6%;
    }
  }

  @media only screen and (min-width: 1101px) and (max-width: 1200px) {
    #card {
        height: 65%;
        width: 27%;

        padding: 2% 2% 0% 2%;
    }

    h2 {
        font-size: 2vw;
    }
    
    article p {
        font-size: 1.3vw;
    }   
    
    #eth {
        font-size: 1.3vw;
    }
    
    footer {
        font-size: 1.3vw;
    }
    
    .attribution {
        font-size: 1.3vw;
    }

    [alt="view"] {
        width: 6%;
    }
  }

  @media only screen and (min-width: 1201px) and (max-width: 1300px) {
    #card {
        height: 65%;
        width: 26%;

        padding: 1.5% 1.5% 0% 1.5%;
    }

    h2 {
        font-size: 1.8vw;
    }
    
    article p {
        font-size: 1.1vw;
    }   
    
    #eth {
        font-size: 1.1vw;
    }
    
    footer {
        font-size: 1.3vw;
    }
    
    .attribution {
        font-size: 1.3vw;
    }

    [alt="view"] {
        width: 6%;
    }
  }

  @media only screen and (min-width: 1301px) and (max-width: 1440px) {
    #card {
        height: 62%;
        width: 22%;

        padding: 1.5% 1.5% 0% 1.5%;
    }

    h2 {
        font-size: 1.8vw;
    }
    
    article p {
        font-size: 1.1vw;
    }   
    
    #eth {
        font-size: 1.1vw;
    }
    
    footer {
        font-size: 1.1vw;
    }
    
    .attribution {
        font-size: 1.1vw;
    }

    [alt="view"] {
        width: 6%;
    }
  }

  @media only screen and (min-width: 1501px) and (max-width: 1650px) {
    #card {
        height: 65%;
        width: 20%;

        padding: 1.5% 1.5% 0% 1.5%;
    }

    h2 {
        font-size: 1.7vw;
    }
    
    article p {
        font-size: 1vw;
    }   
    
    #eth {
        font-size: 1vw;
    }
    
    footer {
        font-size: 1vw;
    }
    
    .attribution {
        font-size: 1vw;
    }

    [alt="view"] {
        width: 4%;
    }
  }

  @media only screen and (min-width: 1651px) {
    #card {
        height: 70%;
        width: 21%;

        padding: 1.5% 1.5% 0% 1.5%;
    }

    h2 {
        font-size: 1.5vw;
    }
    
    article p {
        font-size: 1vw;
    }   
    
    #eth {
        font-size: 1vw;
    }
    
    footer {
        font-size: 1vw;
    }
    
    .attribution {
        font-size: 1vw;
    }

    [alt="view"] {
        width: 4%;
    }
  }